body {
    background-color: #2C2F33 !important;
    color: white !important;
}
#nameAndPic img  {
    width: 10% !important;
    
}
#gitProjects {
    margin-top: 90px;
}
#pageContent {
    margin-top: 20px;
}
.project-item {
    margin-top: 30px;
}
.project-item a {
    color: white;
    font-weight: 200;
}
.pageHeader a {
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.pageHeader a:hover {
    transition: 0.2s;
    color: purple;
}
#aboutMe p {
    font-size: 20px;
}

/* EDDL Notes */

#SIDRes {
    max-width: 1000px; 
    max-height: 340px;
    float: left;
    margin-right: 10px;
}

#sidInfo {
    width: 300px;
}

#frequencies {
    width: 330px;
}


/* Snake */

#collisionChecker input {
    margin-top: 5px;
}
#loosedGame {
    color: red;
}

/* Todo List */
#todoContainer {
    margin-top: 100px;
}
#todoHead input {
    width: 800px;
    font-size: 25px;
}
#todoHead i {
    color: white;
}
#todoContent {
    font-size: 20px;
}
#todoContent li {
    list-style: none;
}
#todoContent i {
    color: red;
    margin-right: 10px;
}